# Ejercicio 10
Extraer una fila de un DataFrame como un objeto Series.

In [1]:
import pandas as pd

In [3]:
datos = {
    'A': [1, 2, 3, 4, 5],
    'B': [9, 8, 7, 6, 5],
    'C': [1, 3, 4, 6, 9]
}
df = pd.DataFrame(datos)
df

   A  B  C
0  1  9  1
1  2  8  3
2  3  7  4
3  4  6  6
4  5  5  9

In [9]:
row1 = df.iloc[1,:]
row

A    2
B    8
C    3
Name: 1, dtype: int64

In [10]:
row0 = df.iloc[0,:]
row

A    2
B    8
C    3
Name: 1, dtype: int64