# Ejercicio 9
obtener una columna de un objeto DataFrame como un objeto Series.

In [1]:
import pandas as pd

In [7]:
datos = {'A':[1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C':[2, 3, 5, 7, 11]}

df = pd.DataFrame(datos)
df

   A  B   C
0  1  9   2
1  2  8   3
2  3  7   5
3  4  6   7
4  5  5  11

In [8]:
type(df)

pandas.core.frame.DataFrame

In [16]:
serie = df.iloc[:,1]
serie

0    9
1    8
2    7
3    6
4    5
Name: B, dtype: int64

In [18]:
type(serie)

pandas.core.series.Series